<footer style="margin: 5em 0 1.5em; ">
	<hr />
	<div class="row">
		<div class="col-lg-12">
			<%= link_to APP_NAME, root_url %> made by <%= link_to "@sheharyarn", "https://twitter.com/sheharyarn" %>
		</div>
	</div>
</footer>